* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
  }

  .menu-lista a {
    color: #252630;
    padding: 1em;
  }

  .menu-lista {
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    background: var(--BG-Grey, #FAFAFA);
  }

  .menu-lista li {
    display: flex;
  }

  .bt-principal {
    background-color: #252630;
    padding: 1em;
    border-radius: 8px;
    color: white;
    display: block;
    text-align: center;
  }

  .bt-principal a {
    color: white;
  }

  .box-section-principal {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97EBA9;
    margin-top: 50px;
    border-radius: 24px;
    width: 100%;
    margin-left: 250px;
    margin-right: 250px;
    background-image: url(Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .texto-principal {
    margin-left: 50px;
  }

  .legenda-principal {
    font-size: 41px;
    width: 550px;
    color: #252630;
  }

  .destaque-principal {
    font-weight: bold;
  }

  .botoes-section-dois {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  .bt-dois  {
    color: #252630;
    font-size: 20px;
    background-color: white;
    padding: 1em;
    border-radius: 40px;
  }

  .div-img-principal {
    margin-right: 50px;
    
  }

  .box-aposentados {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .emprestimo-pessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 200px 0 200px 0;
    margin-top: 200px;
    background-image: url(Ellipse\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .titulo-pessoal {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }

  .card-pessoal {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 2em;
  }

  .card-pessoal div {
    width: 291.611px;
    height: 308.146px;
    padding: 18.038px;
    border-radius: 18.038px;
  }

  .card-pessoal img {
    padding-top: 29px;
  }

  .div-pessoal1{
    background-color: #EFEFEF;
  }

  .div-pessoal2{
    background-color: #97EBA9;
  }

  .div-pessoal3{
    background-color: #EFEFEF;
  }

  .div-pessoal4{
    background-color: #97EBA9;
  }

  .div-pessoal5{
    background-color: #EFEFEF;
  }

  .div-pessoal6{
    background-color: #97EBA9;
  }

  

  .aposentados {
    background-color: #252630;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 22.247px;
    margin-top: 200px;
  }

  .texto-aposentados {
    width: 500px;
    margin-left: 50px;
  }

  .titulo-aposentados {
    font-size: 49px;
    font-weight: 700;
    color: #97EBA9;
  }

  .legenda-aposentados {
    color: white;
    line-height: 24px;
    margin-top: 50px;
  }

.div-img-aposentados {
  margin-left: 50px;
}

.contato {
  display: grid;
  justify-content: center;
  background-color: #EFEFEF;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.texto-contato {
  text-align: center;
  font-size: 51px;
  width: 650px;
  font-weight: 700;

}

.destaque-contato {
  color: #97EBA9;
}

.botoes-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.bt-contato {
  color: white;
  font-size: 20px;
  background-color: #252630;
  padding: 1em;
  border-radius: 40px;
}

.redes {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-bottom: 2px solid rgb(68, 66, 65);
  padding-bottom: 20px;
}

.itens-um a{
  padding: 3px;
}

.itens-tres p {
  color: white;
}


footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer p {
  width: 250px;
  line-height: 25px;
}

.copy {
  font-size: 12px;
  background-color: #252630;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(68, 66, 65);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}

.copy a {
  color: white;
}

@media screen and (max-device-width: 1000px){

  nav {
    display: none;
  }

  .box-section-principal {
    margin: 5px;
  }

  
  .section-principal {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #97EBA9;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .texto-principal {
    margin-left: 0;
    text-align: center;
  }

  .legenda-principal {
    font-size: 28px;
    width: 100%;
    padding-top: 20px;
  }

  .div-img-principal {
    margin-right: 0;
    text-align: center;
    
  }

  .div-img-principal img {
    width: 300px;
  }

  .botoes-section-dois {
    justify-content: center;
  }


  .seta {
    display: none;
  }

  .emprestimo-pessoal {
    padding: 100px 0 100px 0;
    margin-top: 200px;
    background-image: url(Ellipse\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .titulo-pessoal {
    font-size: 35px;
  }

  .div-titulo-pessoal {
    width: 100%;
    padding-left: 1em;
  }


  .card-pessoal {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    width: 100%;
  }
  
  .cartao-pessoal::-webkit-scrollbar {
    display: none;
  }


  .box-aposentados {
    margin: 5px;
  }

  .aposentados {
    display: grid;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
  }

  .div-img-aposentados {
    text-align: center;
  }

  .img-aposentados {
    width: 300px;
    text-align: center;
  }

  .texto-aposentados {
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding: 1em;
  }

  .titulo-aposentados {
    font-size: 28px;
  }

  .legenda-aposentados {
    margin-top: 10px;
  }

.div-img-aposentados {
  margin-left: 0;
}

.contato {
  display: grid;
  justify-content: center;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.texto-contato {
  text-align: center;
  font-size: 28px;
  width: 100%;
}

.redes {
  display: grid;
  justify-content: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

footer {
  width: 100%;
  background-color: black;
  display: grid;
  justify-content: left;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  padding-left: 20px;
  gap: 10px;
}

.copy {
  display: grid;
  justify-content: left;
  padding-left: 20px;
  padding-right: 0;
  gap: 10px;
}



}