* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 1em;
    justify-content: space-around;
    background-color: white;
    z-index: 12;
}

.bt-web {
  color: white;
  background-color: #252630;
  border-radius: 8px;
  text-align: center;
  padding: 1em;
}

.bt-mobile {
  background-color: #252630;
  border-radius: 8px;
  color: white;
  padding: 1em;
  display: none;
}



nav .opcoes  {
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 80px;
}

nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}



nav .opcoes a {
    color: black;
    padding: 1em;
}

nav .opcoes a:hover {
  background-color: #97EBA9;
  border-radius: 100px;
  transition: all 2s;
}


nav button.menu {
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
}

nav button.menu span {
    background-color: aquamarine;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    transition: all 0.3s;
}

nav button.menu span.um {
    width: 25px;
    bottom: 4px;
    right: 0;
}

nav button.menu span.dois {
    width: 35px;
    top: 4px;
    right: 0;

}

nav button.menu.ativo span {
    background-color: rgb(249, 0, 0);
    position: absolute;
    border-radius: 5px;
    height: 3px;
}

nav button.menu.ativo span.um {
    width: 30px;
    bottom: 8px;
    right: -5px;
    transform: rotate(45deg);
}

nav button.menu.ativo span.dois {
    width: 30px;
    top: 8px;
    right: -5px;
    transform: rotate(-45deg);


}
  .box-section-principal {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding-top: 100px;
  }

  .section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97EBA9;
    margin-top: 50px;
    border-radius: 24px;
    width: 1300px;
    background-image: url(Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 50px;
  }

  .texto-principal {
    margin-left: 50px;
  }

  .legenda-principal {
    font-size: 41px;
    width: 550px;
    color: #252630;
  }

  .destaque-principal {
    font-weight: bold;
  }

  .botoes-section-dois {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  .bt-dois  {
    color: #252630;
    font-size: 20px;
    background-color: white;
    padding: 1em;
    border-radius: 40px;
  }

  .div-img-principal {
    margin-right: 50px;
    
  }

  section.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    width: 100%;
    padding: 80px;
  }
  /* Quadro */
  section.apresentacao .quadro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    min-height: 600px;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }
  /* Seletor */
  section.apresentacao .quadro .seletor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50px;
    z-index: 4;
  }
  
  section.apresentacao .quadro .seletor .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 70px;
    border-radius: 50px;
    background-color: #ffffff1e;
    position: relative;
  }
  section.apresentacao .quadro .seletor .toggle span {
    width: 230px;
    height: 50px;
    background-color: #252630;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    z-index: 1;
    transition: all 0.3s;
    margin-left: 10px;
  }
  section.apresentacao .quadro.ativo .seletor .toggle span {
    left: 290px;
  }
  section.apresentacao .quadro .seletor .toggle .nome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    z-index: 2;
  }
  section.apresentacao .quadro .seletor .toggle .nome img {
    width: 100%;
    max-width: 25px;
    margin: 0 10px 0 0;
  }
  section.apresentacao .quadro .seletor .toggle .nome p {
    font-size: 16px;
    color: #fff;
  }

  .box-sobre {
    display: flex;
    justify-content: center;
    padding: 200px 0px 200px 0px;
  }
  
  .sobre-nos {
    margin: 5px;
  }

  .card-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 19.762px;
    border: 0.823px solid #ffffff35;
    background-image: linear-gradient(to right, #1D2B3A, #11121B);
    backdrop-filter: blur(15.562189102172852px);
    width: 1090px;
    height: 490px;
  }

  .texto-sobre {
    width: 300px;
    color: white;
    line-height: 26px;
  }

  .titulo-sobre-nos {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
  }
  

  .box-aposentados {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .emprestimo-pessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 200px 0 200px 0;
    margin-top: 50px;
    background-image: url(fundo-empresarial.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  

  .titulo-pessoal {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }

  .card-pessoal {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 2em;
  }

  .card-pessoal a {
    color: black;
  }

  .card-pessoal div {
    width: 291.611px;
    height: 308.146px;
    padding: 18.038px;
    border-radius: 18.038px;
  }

  .card-pessoal img {
    padding-top: 29px;
  }

  .div-pessoal1{
    background-color: #EFEFEF;
  }

  .div-pessoal2{
    background-color: #97EBA9;
  }

  .div-pessoal3{
    background-color: #EFEFEF;
  }

  .div-pessoal4{
    background-color: #97EBA9;
  }

  .div-pessoal5{
    background-color: #EFEFEF;
  }

  .div-pessoal6{
    background-color: #97EBA9;
  }

  .box-servicos {
    padding: 1em;
    background-color: #97EBA9;
    background-image: url(fundo-circular.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
  }

  .titulo-servicos {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 50px;
  }

  .card-servicos p {
    line-height: 29px;
    padding-top: 10px;
    color: white;
  }

  .card-servicos {
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    justify-content: center;
    gap: 1em;
  }


  .card-servicos div{
    width: 350px;
    height: 260px;
    border-radius: 5px;
    padding: 35px 34.472px 145.913px 36px;
  }

  .div-servicos1 {
    background-color: #1D2B3A;
  }

  .div-servicos2 {
    background-color: #1D2B3A;
  }

  .div-servicos3 {
    background-color: #1D2B3A;
  }

  .div-servicos4 {
    background-color: #1D2B3A;
  }

  .div-servicos5 {
    background-color: #1D2B3A;
  }


  .div-servicos6 {
    background-color: #35BD78;
  }

  .div-servicos6 p {
    background-color: #35BD78;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }


  .box-fgts {
    display: flex;
    justify-content: center;
  }

  .fgts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #97EBA9;
    width: 1200px;
    height: 601px;
    border-radius: 22.247px;
    margin: 100px 1em 100px 1em;
  }

  .titulo-fgts {
    font-size: 50px;
    font-weight: 700;
    width: 300px;
  }

  .card-fgts {
    background-color: #252630;
    width: 591px;
    height: 320px;
    border-radius: 19.801px;
    border: 0.825px solid var(--Heading, #252630);
    padding: 42px 47px;

  }

  .titulo-card-fgts {
    font-size: 30px;
    color: white;
  }

  .legenda-card-fgts {
    line-height: 29px;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .card-fgts a {
    color: white;
    border: 0.825px solid white;
    border-radius: 33.002px;
    padding: 1em;
  }

  .box-carrossel {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 100px 100px;
    gap: 50px;
}

.div-titulo-clientes {
}

.destaque-clientes {
  color: #97EBA9;
}

.titulo-clientes {
    font-size: 60px;
    font-weight: 700;
    width: 550px;
    margin-top: 20px;
    color: white;
}
 
.slider {
	display: block;
	height: 293px;
	width: 600px;
	margin: auto;
	margin-top: 20px;
	position: relative;
}
 
.slider li {
	list-style: none;
	position: absolute;
}
 
.slider img {
	margin: auto;
	height: 100%;
	width: 100%;
	vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
	background-color: transparent;
	bottom: 0;
	cursor: pointer;
	display: block;
	height: 60px;
	position: absolute;
	width: 60px;
	z-index: 10;
  border-radius: 10px;
}

.slider li:nth-child(1) label {
	left: 270px;
    background-image: url(seta-transparente.svg);
    background-repeat: no-repeat;
}

.slider li:nth-child(2) label {
	left: 330px;
    background-image: url(seta-verde.svg);
    background-repeat: no-repeat;
}



.slider img {
	opacity: 0;
	visibility: hidden;
}

.slider li input:checked ~ img {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}



  .aposentados {
    background-color: #252630;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 22.247px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 100px 0px 100px 0px;
  }

  .texto-aposentados {
    width: 500px;
    margin-left: 50px;
  }

  .titulo-aposentados {
    font-size: 49px;
    font-weight: 700;
    color: #97EBA9;
  }

  .legenda-aposentados {
    color: white;
    line-height: 24px;
    margin-top: 50px;
  }

.div-img-aposentados {
  margin-left: 50px;
}

.contato {
  display: grid;
  justify-content: center;
  background-color: #EFEFEF;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.texto-contato {
  text-align: center;
  font-size: 51px;
  width: 750px;
  font-weight: 700;

}

.destaque-contato {
  color: #97EBA9;
}

.botoes-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


.bt-wpp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #33F682;
  width: 300px;
  border-radius: 45px;
  padding: 10px;
}

.bt-wpp a {
  color: black;
}

.redes {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-bottom: 2px solid rgb(68, 66, 65);
  padding-bottom: 20px;
}

.itens-um a{
  padding: 3px;
}

.itens-tres p {
  color: white;
}


footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer p {
  width: 250px;
  line-height: 25px;
}

.copy {
  font-size: 12px;
  background-color: #252630;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(68, 66, 65);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}

.copy a {
  color: white;
}

@media screen and (max-device-width: 1000px){

  nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 1em;
    justify-content: space-between;
    z-index: 12;
}

.bt-web {
  display: none;

}

.bt-mobile {
  background-color: #252630;
  border-radius: 8px;
  color: white;
  padding: 10px;
  display: flex;
  width: 100%;
  font-size: 15px;
}

nav .opcoes  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: aliceblue;
    background-color: #FAFAFA;
    top: 70px;
    right: 20px;
    position: fixed;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}


nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

nav .opcoes a {
  color: black;
  padding: 8px;
}


.opcoes a {
    color: black;
    padding: 0px;
}


nav button.menu {
    display: flex;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
}

nav button.menu span {
    background-color: #97EBA9;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    transition: all 0.3s;
}

nav button.menu span.um {
    width: 25px;
    bottom: 4px;
    right: 0;
}

nav button.menu span.dois {
    width: 35px;
    top: 4px;
    right: 0;

}

nav button.menu.ativo span {
    background-color: rgb(249, 0, 0);
    position: absolute;
    border-radius: 5px;
    height: 3px;
}

nav button.menu.ativo span.um {
    width: 30px;
    bottom: 8px;
    right: -5px;
    transform: rotate(45deg);
}

nav button.menu.ativo span.dois {
    width: 30px;
    top: 8px;
    right: -5px;
    transform: rotate(-45deg);


}



  .box-section-principal {
    margin: 10px;
    padding-top: 30px;
  }

  
  .section-principal {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #97EBA9;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    padding-top: 0;

  }

  .texto-principal {
    margin-left: 0;
    text-align: center;
  }

  .legenda-principal {
    font-size: 28px;
    width: 350px;
    padding-top: 20px;
  }

  .div-img-principal {
    margin-right: 0;
    text-align: center;
    
  }

  .div-img-principal img {
    width: 300px;
    height: auto;
  }

  .botoes-section-dois {
    justify-content: center;
    padding-top: 10px;
  }

  .bt-dois  {
    color: #252630;
    font-size: 20px;
    background-color: white;
    padding: 1em;
    border-radius: 40px;
    width: 330px;
  }


  .seta {
    display: none;
  }

  section.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    width: 100%;
    padding: 10px;
  }
  /* Quadro */
  section.apresentacao .quadro {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 0;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }
  /* Seletor */
  section.apresentacao .quadro .seletor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: -140px;
    z-index: 4;
  }

  #myImage {
    max-width: 400px;
  }

  section.apresentacao .quadro .seletor .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff1e;
    position: relative;
    margin-top: 150px;
  }

  section.apresentacao .quadro .seletor .toggle span {
  width: 160px;
  height: 35px;
  background-color: #252630;
  border-radius: 50px;
  position: absolute;
  left: -3px;
  z-index: 1;
  transition: all 0.3s;
}

section.apresentacao .quadro.ativo .seletor .toggle span {
  left: 170px;
  width: 160px;
}

section.apresentacao .quadro .seletor .toggle .nome p {
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}


  .emprestimo-pessoal {
    padding: 100px 0 100px 1em;
    margin-top: 50px;
    background-image: url(Ellipse\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .titulo-pessoal {
    font-size: 35px;
  }

  .div-titulo-pessoal {
    width: 100%;
    padding-left: 0;
  }


  .card-pessoal {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    width: 100%;
  }
  
  .cartao-pessoal::-webkit-scrollbar {
    display: none;
  }

  .box-servicos {
    margin-top: 120px;
    padding: 0 0 0 1em;
    background-image: url(fundo-circular.png);
    background-size: 750px;
    height: 100%;
  }


  .titulo-servicos {
    font-size: 37px;
  }

  .card-servicos p {
    line-height: 20px;
    width: 200px;
  }

  .div-servicos6 P {
    padding-top: 35px;
  }

  .card-servicos {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    width: 100%;
  }

  .card-servicos div{
    width: auto;
    height: 280px;
  }


  .fgts {
    display: grid;
    gap: 20px;
    width: 100%;
    height: 601px;
    margin: 100px 10px 0px 10px;
  }

  .titulo-fgts {
    font-size: 30px;
    width: 100%;
    padding-left: 1em;
  }

  .card-fgts {
    width: 100%;
    height: 100%;
    border-radius: 19.801px;
    padding: 50px 36px 0px 36px;
  }

  .titulo-card-fgts {
    font-size: 30px;
  }

  .box-carrossel {
    display: grid;
    align-self: center;
    justify-content: center;
    padding: 100px 100px;
    gap: 50px;
}

.titulo-clientes {
    font-size: 27px;
    font-weight: 700;
    width: 300px;
    margin-top: 20px;
}

.slider {
    display: block;
    height: 293px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li:nth-child(1) label {
    left: 155px;
    background-size: 25px;
}

.slider li:nth-child(2) label {
    left: 200px;
    background-size: 25px;
}

.slider label {
    bottom: 0px;
    top: 140px;
    height: 25px;
    width: 25px;
}

.box-sobre {
  padding: 100px 10px 10px 10px;
}



.card-sobre {
  display: grid;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 2em;
}

.texto-sobre {
  width: 100%;
  text-align: center;
}

.card-sobre img {
  width: 100%;
}



.titulo-sobre-nos {
  font-size: 20px;
  display: none;
}




  .box-aposentados {
    margin: 10px;
  }

  .aposentados {
    display: grid;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;

  }

  .div-img-aposentados {
    text-align: center;
  }

  .img-aposentados {
    width: 300px;
    text-align: center;
  }

  .texto-aposentados {
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding: 1.8em;
  }

  .texto-oculto-mobile {
    display: none;
  }

  .titulo-aposentados {
    font-size: 25px;
  }

  .legenda-aposentados {
    margin-top: 10px;
  }

.div-img-aposentados {
  margin-left: 0;
}

.contato {
  display: grid;
  justify-content: center;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.texto-contato {
  text-align: center;
  font-size: 28px;
  width: 100%;
}

.redes {
  display: grid;
  justify-content: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

footer {
  width: 100%;
  background-color: black;
  display: grid;
  justify-content: left;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  padding-left: 20px;
  gap: 10px;
}

.copy {
  display: grid;
  justify-content: left;
  padding-left: 20px;
  padding-right: 0;
  gap: 10px;
}



}