* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
  }

  .menu-lista a {
    color: #252630;
    padding: 1em;
  }

  .menu-lista {
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    background: var(--BG-Grey, #FAFAFA);
  }

  .menu-lista li {
    display: flex;
  }

  .bt-principal {
    background-color: #252630;
    padding: 1em;
    border-radius: 8px;
    color: white;
    display: block;
    text-align: center;
  }

  .bt-principal a {
    color: white;
  }

  .box-section-principal {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97EBA9;
    margin-top: 50px;
    border-radius: 24px;
    width: 100%;
    margin-left: 250px;
    margin-right: 250px;
    background-image: url(Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .texto-principal {
    margin-left: 50px;
  }

  .legenda-principal {
    font-size: 41px;
    width: 550px;
    color: #252630;
  }

  .destaque-principal {
    font-weight: bold;
  }

  .botoes-section-dois {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  .bt-dois  {
    color: #252630;
    font-size: 20px;
    background-color: white;
    padding: 1em;
    border-radius: 40px;
  }

  .div-img-principal {
    margin-right: 50px;
    
  }

  .box-aposentados {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  

  .aposentados {
    background-color: #252630;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 22.247px;
    margin-top: 200px;
  }

  .texto-aposentados {
    width: 500px;
    margin-left: 50px;
  }

  .titulo-aposentados {
    font-size: 49px;
    font-weight: 700;
    color: #97EBA9;
  }

  .legenda-aposentados {
    color: white;
    line-height: 24px;
    margin-top: 50px;
  }

.div-img-aposentados {
  margin-left: 50px;
}

.contato {
  display: grid;
  justify-content: center;
  background-color: #EFEFEF;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.texto-contato {
  text-align: center;
  font-size: 51px;
  width: 650px;
  font-weight: 700;

}

.destaque-contato {
  color: #97EBA9;
}

.botoes-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.bt-contato {
  color: white;
  font-size: 20px;
  background-color: #252630;
  padding: 1em;
  border-radius: 40px;
}